[2018-12-24 04:04] aylei opened #1 "provide options to copy a new pod for debug"
Like `oc debug`, we can provide a option to copy the pod on debugging. This will helpful if the target pod is exited or stuck in `CrashLoopBackoff`.

man page of `oc debug`: https://www.mankier.com/1/oc-debug

[2018-12-25 01:50] kklin opened #2 "Doesn't work on GKE"
I got this error when trying this against a GKE cluster:
[code]

I've seen this in my own projects before. It'll probably be fixed by importing the auth plugins: https://github.com/kubernetes/client-go/issues/242#issuecomment-314642965.

[2018-12-25 02:36] aylei commented on #2
@kklin Thanks! I'll take a look later today and test it upon GKE.

[2018-12-25 02:39] aylei commented on #2
@kklin Or would you like to send a PR if importing the auth plugins works for you?

[2018-12-25 05:31] kklin commented on #2
Sure. I took a quick look:  adding the auth plugins fixed the error with parsing the kubeconfig, but it still doesn't work with GKE because the `hostIP` of the `DaemonSet` pods are private:
[code]

[code]

I would PR the auth plugin fix, but I couldn't figure out the right way to update `Gopkg.toml`.

[2018-12-25 05:59] aylei commented on #2
Adding the import statement and run `dep ensure` locally will do the work.

I need to do some investigation about this problem (solution to access the hostIP&hostPort in GKE from client).
But generally, the hostIP & hostPort is not always available (or say, typically not available if cluster is set up with security consideration), so I plan to add an extend apiserver acting as the gateway. I will

[2018-12-25 08:28] aylei opened #3 "adapt to CRI"
`kubectl-debug` only support docker as container runtime now. We should use CRI for container operations.

[2018-12-25 08:44] aylei opened #4 "add an extend apiserver as the gateway"
`kubectl-debug` connect to the node agent directly, which is not secure. We should provide an extend apiserver to do centralized authorization & authentication. Extend apiserver should be an opt-in component, we can always use the simplest setup just like now.

The extend apiserver will also proxy the debug connection like kube apiserver, which addresses the inaccessible hostIP issue in #2

[2018-12-27 02:05] aylei commented on #2
@kklin Hi, anything blocking? How can I help?

[2018-12-28 02:17] #2 closed

[2019-01-03 06:35] kklin commented on #4
JOOC, how are you planning on doing authentication? Is it possible to piggy-back off of RBAC and have users authenticate with the user in their kubeconfig? Or will you need to implement your own authentication flow?

I've been thinking about this for a project I'm working on, so would love to hear your thoughts!

[2019-01-03 06:37] kklin commented on #4
Ah, or are you planning on using this thing? https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation/

There's so many concepts in Kubernetes..

[2019-01-03 07:51] aylei commented on #4
To be honest, I am not familiar with authz & authn in kubernetes. But yes, I plan to build an Extension API Server to serve as the gateway for `kubectl-debug`, and the idea is mainly inspired by the [this document](https://github.com/kubernetes-incubator/apiserver-builder/blob/master/docs/concepts/auth.md). The key API to integrate with Kubernetes RBAC is `SubjectAccessReview`.

The same mechanism

[2019-01-03 10:20] kklin commented on #4
Ah that looks really interesting, thanks. Looking forward to reading more.

[2019-01-05 19:41] andreioss opened #6 "README error"
Hello!
1. You have small mistype here:

2. Does `kubectl debug` should work from scratch as you described? Or maybe user should add also bash alias for kubectl-debug executable binary? I've tested your plugin on 1.10 version of cluster and client, and it's completely okay, but only when using just `kubectl-debug` directly.

[2019-01-06 03:39] aylei commented on #6
Good catch, thanks!

To use `kubectl debug`, kubectl 1.12.0+ is required, otherwise you have to add an alias😅

[2019-01-08 03:41] #6 closed

[2019-01-12 14:50] andreyradygin opened #8 "Possibility to connect to CrashLoopbackOff pod"
Hi there!
It's FR. It would be just great, to have possibility to connect and debug crashing pods (I meant CrashLoopbackOff). So we see "bad" pod, and there are no meaningful logs in the pod describe and we could connect into it and do some useful things.
What do you think about such feature? Could such thing be done?

[2019-01-12 16:10] aylei commented on #8
This feature can be really useful but cannot be implemented "directly" IMHO, because the problematic container in the crashing pod is re-created constantly, there is no consistent pid namespace to diagnose the container process.
A possible workaround is 'fork' a new pod, overwrite the container entrypoint to something like 'bash', and diagnose the new pod, which is adopted by the [`oc debug`](http

[2019-01-12 16:31] andreioss commented on #8
Oh sorry, you're right, I should read old issues more carefully.
I was thinking about this problem and come to the same conclusion.
BUT, we need fork bad pod/container with some "bash" command AND possibility to attach to it with debug image at the same time.

Btw, I have a lot of opportunities to test your utility if you interesting.

[2019-01-12 17:00] aylei commented on #8
Sure! I will implement a working prototype this days, hope that fits your case.

[2019-01-15 17:37] aylei opened #9 "Bash completion"
A bash completion is really nice to have😄

[2019-01-15 17:39] aylei opened #10 "Document local development guide and contribution guide"
Not willing to do, but necessary😅

[2019-01-15 18:37] aylei commented on #8
@andreioss
I've add the basic support in #11 , would you like to try it our and give me some feedback?

Note: when you enter the debug container, the filesystem of forked container is located in `/proc/$pid/root`. If you want to run the binary in forked container, run `chroot /proc/$pid/root sh` first.

[2019-01-16 03:47] aylei commented on #8
Just fetch the `issue-1` branch, or I will release a preview binary this night😄

[2019-01-16 17:11] andreioss commented on #8
If you'll provide the binary, it would be great, thanks :)

[2019-01-17 05:53] aylei commented on #8
https://github.com/aylei/kubectl-debug/releases/tag/0.0.2-pre

Tested locally and seems fine for me, looking forward your advice!

[2019-01-31 08:12] #1 closed

[2019-01-31 08:12] #8 closed

[2019-01-31 08:14] aylei opened #12 "Package managers support"
- [ ] brew
- [ ] krew
- [ ] snap
- [ ] dnf

[2019-01-31 08:16] aylei commented on #8
@andreyradygin
I've merged this feature and you may access it in the pre-release before the 0.2.0 release comes out.

[2019-01-31 11:01] Slach commented on #12
and .deb please ;)

[2019-01-31 12:22] aylei commented on #12
Thank you for your reminding😄

[2019-02-05 23:23] random-ua opened #13 "Doesn't work if HostIP is not directly accessible"
I tried to use kubectl-debug in Kubernetes on MacOS Docker Desktop. Its kubelet is running inside hyperkit vm and have IP that is inaccessible from host machine where kubectl is running. So kubectl-debug "fails with error execute remote, error sending request: Post http://192.168.65.3:10027/api/v1/debug.... : dial tcp 192.168.65.3:10027: connect: operation timed out"

I suppose it also won't work

[2019-02-10 05:55] aylei commented on #13
Thanks! This issue will be addressed in next release

[2019-02-21 13:35] jseguillon opened #14 "support init containers"
Supporting init containers would be great for troubleshooting.

I have some troubleshooting to do on [mongodb-replicaset](https://github.com/helm/charts/tree/master/stable/mongodb-replicaset), getting locked with init containers. So tried this beautiful tool but :

[code]

kubectl can see this bootsrap (still running, that is the problem) running :
[code]

Extract from describe :
[code]

[2019-02-21 15:48] aylei commented on #14
Thanks! I will take a look this weekend.

[2019-02-25 12:00] aylei opened #16 "Adopt goreleaser"

[2019-02-25 12:51] aylei commented on #14
Addressed in [0.0.2 release](https://github.com/aylei/kubectl-debug/releases/tag/0.0.2)

[2019-02-25 12:51] #14 closed

[2019-02-25 12:59] aylei opened #17 "Panic when target pod is not specified"
[code]

[2019-02-26 14:37] viczt commented on #3
Hi! Any progress with CRI?

[2019-02-26 14:54] aylei commented on #3
Thanks for the ping😜, this work has not yet been started. And hopefully I will have time to work on this in Mar😄

[2019-03-01 03:51] aylei opened #18 "Helm chart"

[2019-03-01 03:57] aylei opened #19 "Build debug-agent image in distroless way"

[2019-03-02 17:30] jseguillon commented on #18
Do you want some help on this ? I'm not skilled in golang but helm is an old friend ;)

[2019-03-03 02:39] aylei commented on #18
@jseguillon of course, thank you! Feel free to contact me if you have any thing unsure.

[2019-03-03 16:11] jseguillon commented on #4
Maybe we could imagine an operator pattern waiting for new debug session asked via CRDs ?  CRDs have full RBAC control and the operator could secure things enough with a service account and a Pod Security Policy.
Maybe also some annotations on the pod to expliclty authorize debugging (meaning that if you can modify this annotation, then it's ok to debug this pod) ?

[2019-03-04 15:20] aylei commented on #4
@jseguillon Great idea at a glance! I will carefully consider this idea days after.

[2019-03-05 17:43] jseguillon commented on #18
done for most parts so waiting for review.

some logs :
[code]

[code]

[2019-03-06 13:58] #18 closed

[2019-03-13 08:47] jacobtomlinson opened #22 "Warning about missing config"
Awesome project!

I've followed the install instructions but it always complains about the config not being there.

[code]

Would be nice for this to be created automatically.

[2019-03-13 09:04] gadiener commented on #2
Hello @aylei,
thanks for this nice project, I keep seeing this issue:

[code]

I see that the issue is closed but I have not found any work around. How did you solve?

Thanks

[2019-03-13 12:21] aylei commented on #22
Good catch, thanks!

[2019-03-13 12:25] aylei commented on #2
@gadiener
Which version are you using?

[2019-03-13 16:10] gadiener commented on #2
@aylei this one
https://github.com/aylei/kubectl-debug/releases/download/0.0.1/kubectl-debug_0.0.1_macos-amd64

[2019-03-14 02:32] aylei commented on #2
@gadiener
Would you like to try out the [0.0.2 release](https://github.com/aylei/kubectl-debug/releases/tag/0.0.2), auth problem got fixed in this version.

[2019-03-14 08:38] gadiener commented on #2
Thanks @aylei,

I sent you a pull request to update the README.md with the link of the new release.

https://github.com/aylei/kubectl-debug/pull/24

[2019-03-20 09:16] gadiener commented on #12
krew 👍
brew 👍

[2019-04-13 04:23] aylei commented on #17
closed via https://github.com/aylei/kubectl-debug/commit/76b1bfce786ccdffc5aa1b5fea0b1cdcc5a35c87

[2019-04-13 04:23] #17 closed

[2019-04-13 04:32] aylei commented on #22
close via #27

[2019-04-13 04:32] #22 closed

[2019-04-13 07:48] #16 closed

[2019-04-13 07:48] aylei commented on #13
close via #26 and v0.1.0 release

[2019-04-13 07:48] #13 closed

[2019-04-15 15:25] gregwebs opened #28 "Add a --version flag"
This will output the version of kubectl-debug

[2019-05-22 06:48] aylei opened #32 "Document the agentless mode"
Now that #31 introduced the agentless mode, we should document this feature accordingly.

[2019-05-22 06:48] aylei commented on #32
@tkanng Are you interested in documenting this as the feature developer (either chinese/english version)?

I can do this if you don't have spare time recently.

[2019-05-22 06:52] tkanng commented on #32
It's my pleasure. I'll do it this week. :)

[2019-05-22 07:09] aylei commented on #19
close via #30

[2019-05-22 07:50] aylei commented on #28
close via https://github.com/aylei/kubectl-debug/commit/6acc63384741f92db2eb51b904264aa4cd6e2434

[2019-05-22 07:50] #28 closed

[2019-05-22 08:50] #19 closed

[2019-05-23 12:40] aylei commented on #32
close via #33 Thanks @tkanng

[2019-05-23 12:40] #32 closed

[2019-05-30 15:56] klzsysy opened #35 "doesn't work"
网络情况：通过apiservice接口访问远程集群

配置：
[code]

效果：
[code]

然后卡死

使用README中的命令也无效
[code]

(摊手

[2019-05-31 02:27] aylei commented on #35
感谢反馈，目前的 README 已经比 0.1.0 版本多出一些内容，并且修复了一些问题（比如 `--port-forward` 的 typo...)，可以选择：

1. 切换到 tag v0.1.0 参考对应的 README https://github.com/aylei/kubectl-debug/tree/v0.1.0
2. 编译 master 的源码 (`GOOS=darwin make cli`)

配置文件解析失败的问题是个 bug，代码里需要兼容未知字段，再次感谢反馈

[2019-06-01 03:35] #35 closed

[2019-06-14 05:31] dozer47528 opened #38 "Panic when the user do not have the permission to delete pods"
Start deleting agent pod debug-pod-585fcf9d59-njmwk
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x18 pc=0x10c9a57]

goroutine 1 [running]:
fmt.Fprintf(0x0, 0x0, 0x20b845f, 0x4e, 0xc0007157f0, 0x2, 0x2, 0x39, 0x0, 0x0)
	/usr/local/Cellar/go/1.12.4/libexec/src/fmt/print.go:200 +0x77
github.com/aylei/kubectl-debug/pkg/p

[2019-06-14 12:54] aylei commented on #38
@dozer47528
Could you please provide the `kubectl-debug` version you are using?
You can get the version by `kubectl debug --version`

[2019-06-17 11:26] sw1136562366 opened #39 "kubectl debug [pod_name] is not support find image from local (imagePullPolicy: IfNotPresent)"
kubectl debug [pod_name]
pulling image %s...
 ImagePull requests the docker host to pull an image from a remote registry.
it is not support use image from local.

[2019-06-17 11:53] aylei commented on #39
Yes, according to your configuration, there are 1~2 images to pull:
* the image of `debug-agent`, this is a standard Kubernetes Pod and the behavior is controlled by `imagePullPolicy`
* the image of debug container, this image is pulled in the `debug-agent`, there's no logic to skip the pulling phase now, which may need refinement

[2019-06-17 11:54] aylei commented on #39
And thanks for your report!

[2019-06-17 12:00] sw1136562366 commented on #39
I need to use it in an offline environment, but this problem is holding me back.

[2019-06-17 12:08] aylei commented on #39
@sw1136562366
Sorry for this annoying issue, hopefully I can address it this weekend

[2019-06-17 12:09] aylei commented on #39
Workaround: if you have a private registry in the offline environment, you can push the image to this registry and pull from it.

[2019-06-17 12:12] sw1136562366 commented on #39
I will try it, thanks!

[2019-06-18 02:45] aylei commented on #39
@sw1136562366 Let me know if you have any questions then😄

[2019-06-18 02:45] #39 closed

[2019-06-18 07:23] kerven88 opened #40 "kubectl debug状态为CrashLoopBackOff的Pod报错"
[root@sz-5-centos163 src]# kubectl debug finance-payment-kingdee-realname-cgi--test5-6f46ff966c-rm6dl -n finance --fork

error parsing configuration file: yaml: line 36: found unexpected end of streamWaiting for pod finance-payment-kingdee-realname-cgi--test5-6f46ff966c-rm6dl-067b70f9-9197-11e9-8494-00163e340364-debug to run...
Error occurred while waiting for pod to run:  pod ran to completion
er

[2019-06-18 07:38] kerven88 commented on #40
查看target Pod状态为PodFitsHostPorts
kubectl describe pod日志
Status:             Failed
Reason:             PodFitsHostPorts
Message:            Pod Predicate PodFitsHostPorts failed

[2019-06-18 08:10] aylei commented on #40
The problem is that the forked pod ran to COMPLETE status instead of RUNNING.

How many containers in the target Pod?

[2019-06-18 08:14] aylei commented on #40
That make sense:
1. The original pod (target pod) uses the host network, so does the forked pod;
2. The forked pod is explicitly assigned to the same node of original pod in favor of environment consistency;
3. The forked pod cannot run in the target node due to the collision of host port.

[2019-06-19 06:30] dozer47528 commented on #38
[code]

[2019-06-19 09:29] aylei commented on #38
Weird... According to the stack trace the `ErrOut`(default to `os.Stderr`) is nil, what's your environment? (OS, shell... etc)

[2019-06-19 09:35] dozer47528 commented on #38
MacOS 10.14.5 (18F132)
oh-my-zsh

[2019-06-27 01:58] kerven88 commented on #40
The problem is that the pod state of CrashLoopBackOff is definitely not possible to run。
Our goal is not to find the reason for the CrashLoopBackOff state?

[2019-06-27 02:49] aylei commented on #40
@kerven88
Yes, of course the goal is to find the reason of the CrashLoopBackOff state.

However, the strategy `kubectl-debug` take is to fork a Pod and reproduce the issue in the new Pod. The `command` of the new Pod will be replaced so the new Pod won't crash on start. This works in some scenarios but fails for specific scenarios like this.

As for this issue, the problems of the new Pod and the

[2019-06-27 05:56] kerven88 commented on #40
That's right, how do we customize the port number of the new Pod?

[2019-06-27 05:59] kerven88 commented on #40
- [ ]

[2019-06-27 06:55] kerven88 commented on #40
That's right, how do we customize the port number of the new Pod?

[2019-06-27 14:04] aylei commented on #40
@kerven88 This requires modification of code, hopefully I will submit a PR this weekend, or I can give some guidance if you are willing to working on this.

[2019-06-28 00:59] kerven88 commented on #40
Tks! Looking forward to your PR submitsion。

[2019-07-02 03:22] shafreeck opened #41 "Panic when exit the debug container"
[code]

[2019-07-02 06:04] aylei commented on #41
Look like the same problem with #38

Could you please check if the you have the permission for deleting pods? (`kubectl auth can-i delete pod`)

[2019-07-03 09:13] newgoo opened #42 "安装好了kubectl-debug后执行命令直接refused"
通过二进制文件下载好后在调用kubectl debug demo 的时候，出了异常
在master上运行的, pod中的镜像使用的是nginx镜像
是我在某个服务没有启用吗？

异常内容：
`error execute remote, error sending request: Post http://10.211.55.112:10027/api/v1/debug?command=%5B%22bash%22%5D&container=docker%3A%2F%2F6a6200df293ff1270e809ca14f384a2de72b8a1b02eb262206b5916802a71609&image=nicolaka%2Fnetshoot%3Alatest: dial tcp 10.211.55.112:10027: connect: connection refused
error

[2019-07-03 12:31] aylei commented on #42
假如没有装 debug-agent 的话需要使用 `--agentless` 开启无需预先部署代理的模式

[2019-07-03 15:30] newgoo commented on #42
好的，问题解决了；

感觉这个工具也太好用了，赞一个👍

[2019-07-03 15:30] #42 closed

[2019-07-04 07:22] shafreeck commented on #41
I have permission, and it does not occur later. I don't know why. It is not a problem for me, I'll close this issue.

[2019-07-04 07:22] #41 closed

[2019-07-12 02:45] vincent927 opened #43 "Macos 使用 brew 安装后报错 找不到这个命令"
![image](https://user-images.githubusercontent.com/10399425/61098615-2b4a9780-a492-11e9-9819-9935da37a51b.png)

[2019-07-12 02:51] aylei commented on #43
Could you please provide the output of `kubectl version` ?

[2019-07-12 02:52] vincent927 commented on #43
[code]

[2019-07-12 02:54] aylei commented on #43
That make sense, kubectl version prior to `1.12` should use `kubectl-debug` directly instead.

[code]

[2019-07-12 03:00] vincent927 commented on #43
so because of my kubectl version is too old ?

[2019-07-12 03:11] vincent927 commented on #43
[code]

[2019-07-12 03:28] aylei commented on #43
No, you should enable agentless mode by `--agentless` if you have not instead the `debug-agent` as in advance as stated in README

[2019-07-12 03:31] aylei commented on #43
If you don't mind, I will translate the issue title to English so that users who are experiencing the same problem can find this issue more easily.

[2019-07-12 03:33] vincent927 commented on #43
OK no problem

[2019-07-12 03:34] vincent927 commented on #43
the pod get my host ip is host internal ip , how can change ?

[2019-07-12 03:44] aylei commented on #43
Use `--port-forward` flag to enable port-forward mode, which is host ip agnostic

[2019-07-12 03:45] aylei opened #44 "Agentless and port-forward by default"

[2019-07-12 05:42] vincent927 commented on #43
thanks a lot

[2019-07-12 05:42] #43 closed

[2019-07-23 11:40] wuji1mol opened #45 "debug正常运行pod报错"
执行：kubectl-debug --namespace test test-pod  --port-forward --agentless
显示：
Agent Pod info: [Name:debug-agent-pod-36a6c112-ad3e-11e9-bd4c-acde48001122, Namespace:default, Image:aylei/debug-agent:latest, HostPort:10027, ContainerPort:10027]
Waiting for pod debug-agent-pod-36a6c112-ad3e-11e9-bd4c-acde48001122 to run...
Error occurred while waiting for pod to run:  pod ran to completion
error: pod ran

[2019-07-25 03:58] aylei commented on #45
Seems like that the debug container is not able to run, could you please provide the output of `kubectl get po -n test"?

[2019-07-25 12:14] wuji1mol commented on #45
There are  some pods failed to run and one pod running, I delete all the pods and  start debug again, it return to normal.

[2019-07-30 11:20] zkf1987 opened #46 "kubectl debug Support hostnetwork ?"
Excuse me, can kubectl debug support hostnetwork mode?

[2019-08-15 03:13] wuji1mol opened #47 "How to copy tcpdump file to local machine"
When I try 'kubectl exec -it debug-pod /bin/sh', get a message:

Can't get into pod to copy tcpdump file.

[2019-08-15 08:05] aylei commented on #47
It depends on the path of your tcp dump file, if you save the file under `/proc/1/root/` then you can access the file directly in the root filesystem of your application container, otherwise you have to locate the file under the root filesystem of the **debug container**.

For example, if you save the tcpdump data to `/proc/1/root/tmp/tcpdump` in the **debug container**, then you can copy this fil

[2019-08-16 06:52] #47 closed

[2019-08-21 10:49] Slach opened #48 "look like kubernetes will support kubectl debug"
Please see
https://github.com/kubernetes/enhancements/issues/277#issuecomment-523395915
https://github.com/verb/kubectl-debug

could you comment which way is better? use your tool? or wait when Ephermal Containers will support?

Could you merge your efforts with other developers?

[2019-08-21 14:45] verb commented on #48
We should expect ephemeral containers to be remain in alpha for at least a few release cycles, so there will still be a need for a debugging tool on prod clusters.

[2019-08-22 02:43] aylei commented on #48
@Slach Thanks for involving me! I will take a look soon

[2019-08-27 03:30] aylei commented on #48
@verb Thanks😉

I have been paying attention to the progress of the native `debug` subcommand and ephemeral containers for a long time, and I believe it is much more mature solution for troubleshooting. But as @verb pointed out, users who maintain old versions of Kubernetes need a debugging tool. So, based on the existing information, I will continue to maintain this repo and guide users of higher

[2019-08-28 07:42] jekakm opened #49 "connection timed out"
Hi, I get connection timed out when try to use this tool. It's managed Kubernetes on DigitalOcean

[~]$ k debug auth-service-c7c55cc59-jxsts
error execute remote, error sending request: Post http://10.136.228.161:10027/api/v1/debug?command=%5B%22bash%22%5D&container=docker%3A%2F%2Fad6c55366505d3816dc2d7c274f15738c7995483807d404755ea96188249e2fa&image=nicolaka%2Fnetshoot%3Alatest: dial tcp 10.136.2

[2019-08-28 07:55] jekakm commented on #49
with portForward: true it works fine

[2019-08-28 07:55] #49 closed

[2019-09-06 09:00] mtparet opened #52 "Container is not ready"
Hello there,

We are trying to debug a pod which failed to correctly startup in some conditions, only on production. But when launching the debug command, it failed because the container of the application is not ready.

[code]

Does this condition is needed to debug pod ?

Best,

Matthieu

[2019-09-06 09:30] aylei commented on #52
This is expected and `--fork` option was introduced to tackle such problems. With `--fork` option, a copy of the target pod will be created with the start command being replaced to `tail -f /dev/null`. Then you can run the real application binary from the debug container to investigate more.

see: https://github.com/aylei/kubectl-debug#debug-instructions

[2019-09-06 12:32] mtparet commented on #52
@aylei thanks for this first answer.

I understand the point when the pod is not running (or terminated / crashed ) but here the pod is running but it is just not marked as ready.

We have an issue happening only when we got external traffics to it, the application freeze (and so the pod becomes not ready which is expected) and this is at this moment we'll like to use kubectl debug.

[2019-09-06 15:37] aylei commented on #52
Interesting case, so there is a readinessProbe configured I suppose? Seems like that kubectl-debug should establish connection to Pod despite the `NotReady` status then.

[2019-09-07 08:34] mtparet commented on #52
Indeed we have `readinessProbe` configured to ensure the web server is responding.

If we can, that would be perfect for this use case.

[2019-09-08 20:03] mtparet commented on #52
@aylei I would like to help on this, do you have any advice on how we could allow debug NotReady pod ?

[2019-09-09 00:53] aylei commented on #52
@mtparet That'd be great! https://github.com/aylei/kubectl-debug/blob/8fbb788cce08988bf14112e54f578b3017a25e27/pkg/plugin/cmd.go#L491 The contaienr in `NotReady` state is filterer our here, we can relax this constraint.

[2019-09-12 09:40] kchenzhi opened #53 "How can i set the docker secret when pulling the nicolaka netshoot image?"
In my cluster, nicolaka image is load from my private registry,
It require a secret to pull images,
but I can't find any docs about setting it.
thanks

[2019-09-13 00:45] zouxiang opened #54 "can't resolve dependency issue with go dep"
When I was trying to run dep init command with kubectl-debug project, I received the following error:

init failed: unable to solve the dependency graph: Solving failure: package github.com/docker/docker/api/types/image does not exist within project githu
b.com/docker/docker

Can you please help how to solve it?

[2019-09-16 03:58] aylei commented on #53
I'm sorry it is not supported yet, and it is definitely a necessary enhancement.

[2019-09-16 03:59] aylei commented on #54
This project is using `go mod` now, did you see any documents that guides to `dep`?

[2019-09-19 15:07] KingSuo opened #55 "Error response from daemon: No such container"
Hi,when  was trying to run `kubectl-debug` for a running pod with agent mode, I received the following error:
[code]

But in the host I can get the running container with same container ID "89e0cbee76a885ac49a725d5c341980a7bf74268e5fe5c695200b41d524df73c".

[code]
[code]

Can you please help how to solve it?

[2019-09-20 03:27] sunnoy opened #56 "使用 --fork 选项不可以启动容器"
报错

[code]

[2019-09-20 03:28] sunnoy commented on #56
对于这种容器是不是无解 。。。

[2019-09-20 11:38] multi-io commented on #52
@mtparet are you still working on this? Otherwise we can submit the PR too (if it's just that one conditional). This is a pretty annoying thing, would like to have this fixed :)

[2019-09-20 11:43] multi-io opened #57 "--agentless: agent not removed in case of error"
While investigating https://github.com/aylei/kubectl-debug/issues/52 I saw this:

[code]

That should've been deleted by now, right?

[2019-09-21 03:34] newgoo opened #58 "k8s 1.16 版本不支持 apiVersion: extensions/v1beta1"
k8s 1.16 版本不支持
apiVersion: extensions/v1beta1
kind: DaemonSet
希望能适配配置文件

[2019-09-22 12:02] aylei commented on #57
Yes, that container should have been deleted.
@tkanng could you please take a look?

[2019-09-22 12:05] aylei commented on #56
AFAIK, there is no general way to keep the process 1 running in a distroless container. I don't know if there are other solutions by far.

[2019-09-22 12:06] aylei commented on #56
Will providing an option to specify the start command of the forked container be helpful?

[2019-09-24 03:56] 3JIou opened #59 "some question about use strace inside container"
i need to use strace for debug and i have ask how to set SYS_PTRACE for debug container?
like that:
        securityContext:
          capabilities:
            add:
            - SYS_PTRACE # <-- the privilege
thx

[2019-09-24 04:00] aylei commented on #59
https://github.com/aylei/kubectl-debug/blob/8fbb788cce08988bf14112e54f578b3017a25e27/pkg/agent/runtime.go#L166
The debug container has `SYS_PTRACE` capability added already, did you hit a problem about this?

[2019-09-24 10:06] #55 closed

[2019-09-24 12:55] calmkart commented on #53
i'm trying to do this enhancement, probably done in few days

[2019-09-25 03:58] aylei commented on #53
@calmkart Sounds good, thanks!

[2019-09-25 04:03] kchenzhi commented on #53
@calmkart  anticipating that, thanks for help.

[2019-09-25 10:17] 3JIou commented on #59
yes
`bash-5.0# ps aux
PID   USER     TIME  COMMAND
    1 nobody    1d12 /usr/local/bin/binary -c=/config/phpr.toml
   31 root      0:00 bash
   37 root      0:00 ps aux
bash-5.0# strace -p 1
strace: test_ptrace_get_syscall_info: PTRACE_TRACEME: Operation not permitted
strace: attach: ptrace(PTRACE_ATTACH, 1): Operation not permitted`

[2019-09-26 02:37] aylei commented on #59
what's the output of `kubectl debug --version`?

[2019-09-26 02:41] 3JIou commented on #59
~/kuber-fdb » kubectl-debug --version
debug version v0.0.0-master+$Format:%h$

[2019-09-26 10:01] calmkart commented on #57
i cant reproduce this bug
when i run this command, i get

`
Error from server (NotFound): pods "harbor-harbor-portal-68df4cdb58-9xx4l" not found
`

this code can get the pod, if not found it will return
https://github.com/aylei/kubectl-debug/blob/3b7576c2194e36a12eddd434d2a3fb13042f9c60/pkg/plugin/cmd.go#L321-L326

 i guess this bug maybe about your kubectl-debug version or kubernetes version

[2019-09-26 11:35] calmkart commented on #57
like [52](https://github.com/aylei/kubectl-debug/issues/52)
its happends in readness Probe not ready pod, completed pod or faild pod.

if i run a computes pi job and completed, then i start kubectl-debug for that completed pod,i'll see
`error: cannot debug in a completed pod; current phase is Succeeded`

and the pod is also not deleted
[code]

i think the issue happends around this block of code
h

[2019-09-26 13:10] calmkart commented on #52
fixed in [pull request#62](https://github.com/aylei/kubectl-debug/pull/62)

[2019-09-26 13:11] calmkart commented on #57
fixed in [pull request#63](https://github.com/aylei/kubectl-debug/pull/63)

[2019-09-26 16:16] aylei commented on #59
@3JIou I see, let me try to reproduce

[2019-09-26 16:18] #52 closed

[2019-09-26 16:19] #57 closed

[2019-09-27 02:31] kong62 commented on #45
# kubectl debug nginx-5f67f58dd-sr5bz --agentless
Agent Pod info: [Name:debug-agent-pod-9893a803-e0ce-11e9-8d07-5254005a43d2, Namespace:default, Image:aylei/debug-agent:latest, HostPort:10027, ContainerPort:10027]
Waiting for pod debug-agent-pod-9893a803-e0ce-11e9-8d07-5254005a43d2 to run...
Error occurred while waiting for pod to run:  pod ran to completion
error: pod ran to completion

# kubectl

[2019-09-27 04:42] calmkart commented on #58
fixed in [pull request64](https://github.com/aylei/kubectl-debug/pull/64)

[2019-09-27 08:44] yarinm opened #68 "Forked pod doesn't copy pod's labels"
I have a scenario that I'm using Azure MSI and aad-pod-identity to assign identities to pods (in order to retrieve credentials for several azure services). The way this integration works is by assigning a label to the pods.

When I use the fork feature it doesn't copy any of the original labels and it causes the pod to fail before the point I need to debug.

As I see it, fork should copy the label

[2019-09-29 08:50] calmkart commented on #68
https://github.com/aylei/kubectl-debug/blob/5021027f3806e74a728ced7b69ed6746a237362b/pkg/plugin/cmd.go#L558-L566
is there some reson to strip the labels?

[2019-09-29 13:08] aylei commented on #68
@yarinm @calmkart Labels may get Pod operated by Kubernetes controllers. e.g. being adopted by ReplicaSet controller then being deleted because the Pod count exceed the desired replica count, being added to the service endpoints and causing requests to fail.

[2019-09-29 13:13] aylei commented on #68
For this scenario I think user should be able to retain certain labels while forking, this can be simply implemented by adding extra command parameters to the debug command. However, this makes the UX more complicated, so I am wondering if there is any better idea.

[2019-09-29 14:24] calmkart commented on #68
maybe adding a command parameter is a good solution. If there is no better way, I can do this work.

[2019-10-11 02:28] #58 closed

[2019-10-11 07:34] calmkart commented on #68
fixed in #69

[2019-10-11 07:43] calmkart commented on #53
@kchenzhi @aylei fixed in #61
this issue can closed

[2019-10-11 09:13] aylei commented on #53
Thanks! @calmkart

[2019-10-11 09:13] #53 closed

[2019-10-11 09:13] aylei commented on #68
closed via #69

[2019-10-12 10:04] calmkart commented on #38
fixed in #70
@aylei
PTAL, thanks

[2019-10-14 07:08] goerzh commented on #42
我加了 --agentless 参数还是报错
[code]

[2019-10-14 09:44] a52yth opened #71 "直接执行kubectl debug pod_name 报目标NODE连接拒绝"
MESSAGE:error: error sending request: Post http://172.20.:10027/api/v1/debug?command=%5B%22bash%22%5D&container=docker%3A%2F%2F418d59de3a343e0bef223c6ee5c9c93712ed79bf01ae64324bbd15192f0fe17d&image=nicolaka%2Fnetshoot%3Alatest: dial tcp 172.20.:10027: connect: connection refused

k8s-version：v1.14.3

[2019-10-14 15:31] aylei commented on #71
You can use `--port-forward` if the node is inaccessible.

[2019-10-14 15:31] aylei commented on #71
#44 will fix this problem

[2019-10-15 18:24] lbourdages opened #72 "Agentless pod does not boot on cluster with CPU and memory restrictions"
I am having an issue where the agent pod can not be created because it does not specify memory limits/requests.
For example:
`kubectl debug <pod_name> --agentless --agent-pod-namespace=<namespace>`
Output:
`Agent Pod info: [Name:debug-agent-pod-<pod_name>, Namespace:<namespace>, Image:aylei/debug-agent:latest, HostPort:10027, ContainerPort:10027]
Error from server (Forbidden): pods "debug-agent-po

[2019-10-16 06:03] zeysh commented on #9
:+1:

[2019-10-16 07:41] calmkart commented on #72
/assign
i can do this enhancement.

[2019-10-16 11:58] calmkart commented on #72
fixed in #73

[2019-10-17 03:26] a52yth opened #74 "工具镜像使用自定义镜像，报连接镜像仓库错误"
使用kubectl debug pod_name -n ns-*  --image harbor.*.com/base/bianque:v1.0.1
pulling image harbor.*.com/base/bianque:v1.0.1...
message: error execute remote, Internal error occurred: error attaching to container: Error response from daemon: pull access denied for harbor.*.com/base/bianque, repository does not exist or may require 'docker login': denied: requested access to the resource is denied
已经在

[2019-10-17 12:48] calmkart commented on #44
done in #75
@aylei PTAL, thanks!

[2019-10-17 12:53] calmkart commented on #74
[code]
@a52yth
是否有使用最新的源码进行的编译？
在 #61 中有添加私有仓库账号密码设置。
推荐编译最新的agent和plugin使用。

[2019-10-20 09:47] aylei commented on #44
closed via #75

[2019-10-20 09:47] #44 closed

[2019-10-24 08:44] hillbun opened #76 "unable to run kubectl-debug"
kubectl-debug traefik-ingress-controller-v2-9vsvk -n kube-system
error execute remote, error sending request: Post http://192.168.0.183:10027/api/v1/debug?command=%5B%22bash%22%5D&container=docker%3A%2F%2F506c3ea81af0d7887a8c497072439225421392a1730d4fd720a6bb640567967c&image=nicolaka%2Fnetshoot%3Alatest: dial tcp 192.168.0.183:10027: connect: connection refused
error: error sending request: Post h

[2019-10-24 17:09] aylei commented on #76
@hillbun Could you please try `kubectl-debug --agentless --port-forward`?

[2019-10-25 02:17] hillbun commented on #76
kubectl-debug --agentless --port-forward miop-ui-cf6bff975-9rbbs -n xxxx

Agent Pod info: [Name:debug-agent-pod-83566576-f6cd-11e9-a680-fa163e7f9e07, Namespace:default, Image:aylei/debug-agent:latest, HostPort:10027, ContainerPort:10027]
Waiting for pod debug-agent-pod-83566576-f6cd-11e9-a680-fa163e7f9e07 to run...
Error occurred while waiting for pod to run:  pod ran to completion
error: pod ran

[2019-10-25 03:08] calmkart commented on #76
@hillbun
pls try
`kubectl get pods|grep debug-agent-pod`
if there is more than one agent pod, you should delete all agent pod and try
`kubectl-debug --agentless --port-forward miop-ui-cf6bff975-9rbbs -n xxxx`
again
if there is just one agent pod and the status is not running.you can
`kubectl describe <agentPodName>`
to find the reason.

I think there are probably more than one agent pod here.delet

[2019-10-25 06:09] hillbun commented on #76
it is ok now. thanks

[2019-10-30 13:17] obiesmans opened #77 "Add tag 0.1.1 on docker hub"
There isn't a 0.1.1 version of the debug-agent image in docker hub.

https://hub.docker.com/r/aylei/debug-agent/tags

[2019-11-01 08:01] DavadDi opened #78 "How to run one-time run command and get result"
By running the command "kubectl exec -ti", we can get the output of the command result as follow; Using "kubectl-debug" can not get the desired result, Any Idea?

[code]

[code]

[2019-11-01 09:46] DavadDi commented on #78
[code]
It works.
Because `sleep 2` extends the lifecycle of the container, giving the chance to the attach cmd catch the container output when it runs a very short task.

[2019-11-01 13:39] aylei commented on #78
@DavadDi Nice catch! I will investigate how to guarantee the output stream being flushed before the debug container get terminated.

Also, the log without verbosity control concerns me, which adds complexity for automation process to parse the output of executed command. I will file another issue for this.

[2019-11-01 13:41] aylei opened #79 "Add logging verbose level"
follow up #78

[2019-11-01 15:55] zhangliqiang opened #80 "[INFORMATION SHARE] A web based kubectl tool."
Hi there,

We developed a web based kubectl tool, which enables you to manage kubernetes credentials and run kubectl command in web browser.

https://github.com/webkubectl/webkubectl

Hopefully it's useful for you guys.

[2019-11-04 08:44] obiesmans commented on #77
It works, thanks !

[2019-11-06 10:35] ArthurYangZhiBin opened #81 "使用hengyunabc/arthas:latest这个镜像不能查询到jvm进程"
Unable to open socket file: target process not responding or HotSpot VM not loaded

[2019-11-11 07:29] markzhang0928 opened #82 "Add fixed function of some misleading metrics for targeted pod when using some tools like `free`, `top` which rely on procfs isolation."
hi aylei, this PR aimed at fixing some misleading metrics for targeted pod when using some tools like `free`, `top` which rely on procfs isolation.  Those crucial data will be correct by running a fuse filesystem (lxcfs) in our debug-agent.

Once we started agent pod, no matter agentless mode or  daemonset mode we choose, we ran the lxcfs process on targeted node accordingly. Then, we starting deb

[2019-11-12 09:38] sunnoy commented on #74
已经按照所示的方式添加，但是仍然登陆，编译的是最新版本

[code]

[2019-11-12 09:44] #56 closed

[2019-11-12 10:16] calmkart commented on #74
@sunnoy 麻烦提供一下执行命令和secret.(密码部分请遮盖)

[2019-11-13 13:48] arrowfeng commented on #76
I referenced the document, isn't  supposed to be open by default ?

[2019-11-16 03:44] NominationP opened #84 "阿里云k8s 报错"
[code]

这个是防火墙的问题吗？

[code]

[2019-11-16 10:20] whalecold commented on #84
看起来是这个 pod 的镜像问题

[2019-11-17 03:25] NominationP commented on #84
是我要debug pod 的镜像问题吗？看说明没有什么特别配置

[2019-11-22 07:48] cpan42 commented on #74
from the source code , it looks like the docker pull secret key should exactly equals "authStr".  ` kubectl create secret generic kubect-debug-secret  --from-file=./authStr` works for me

[2019-11-23 08:19] whalecold commented on #84
是的，日志上显示文件不存在。

[2019-11-29 01:42] markzhang0928 commented on #84
换一个镜像版本，aylei/debug-agent:latest 试试？

[2019-11-29 01:43] #82 closed

[2019-12-05 08:33] huangzhiran opened #86 "文档中给的安装方式是失效的，建议修改下"
<img width="1166" alt="屏幕快照 2019-12-05 16 23 31" src="https://user-images.githubusercontent.com/30522704/70217746-b8adc180-177c-11ea-87b6-f016b7b6b752.png">

文档中给的安装链接是失效的

[2019-12-06 15:09] aylei commented on #86
Hi, 粘贴到部分 terminal 的时候需要注意 terminal 的自动转移, 将 `$\{PLUGIN_VERSION\}` 修改回  `${PLUGIN_VERSION}`即可

[2019-12-09 08:19] sunnoy commented on #74
[code]

[2019-12-10 06:00] huangzhiran commented on #86
好的, thanks

[2019-12-10 06:00] #86 closed

[2019-12-13 10:30] autherlj opened #87 "关于debug pod的一些疑问"
你好，按照你的教程，我的debug agent pod 和 真实的pod 建立了连接。 可以为什么不可以看到真实POD 的路径下的文件呢？ 只能看到他的java进程，想看日志/log/logs是没有路径的。请问这样是正常的吗？表示只能用一些netstart telnet tcpdump命令不能看真实pod的内容吗？
![error](https://user-images.githubusercontent.com/30717333/70793733-f04ce700-1dd6-11ea-8cc9-94ef34c36b20.png)

[2019-12-16 14:19] dmayle opened #88 "kubectl debug never connects"
From the client:
[code]

From the debug agent:
[code]

[2019-12-18 12:29] lukjaw opened #89 "Run kubectl-debug from private docker registry (not just https://hub.docker.com/)"
Hi, i really like the tool guys, but is there a way to run this from private docker registry (like nexus) that is inside corporate network.

The reason for this question is that i have some k8s clusters that doesn have access to hub.docker.com (every image is being downloaded from private registry) and want to use this awesome tool.

so basically i pulled both debug-agent:latest and netshoot:lates

[2019-12-19 14:48] aylei commented on #89
Pulling from private repository with credential is expected to be supported, what is the output of the log of debug-agent?

[2019-12-20 09:48] zhanghuidinah opened #90 "遇到--fork timeout的问题"
- fork 时 timeout

![image](https://user-images.githubusercontent.com/31201589/71245731-50500a00-2350-11ea-9607-8e9106dc6537.png)

- `意外` 不可避免，也可以退出时回收？不然还要来 debug 这个 pod 的问题
<img width="831" alt="截屏2019-12-20下午5 45 05" src="https://user-images.githubusercontent.com/31201589/71245917-b2107400-2350-11ea-896d-0d3aed28e6c0.png">

[2019-12-24 13:15] aylei commented on #90
Good catch! The forked Pod should also be automatically deleted on wait time out.

[2019-12-31 07:41] stockcode commented on #87
The root filesystem of target container is located in /proc/{pid}/root/, and the pid is 1 typically (Pod with sharingProcessNamespace enabled is an exception).

[2020-01-02 03:04] liabio commented on #47
[root@master ~]# kubectl debug litemall-all-7f7b98487-kb27g --agentless --port-forward
Agent Pod info: [Name:debug-agent-pod-e1fbf12f-2d0b-11ea-8ded-5254003c4391, Namespace:default, Image:aylei/debug-agent:latest, HostPort:10027, ContainerPort:10027]
Waiting for pod debug-agent-pod-e1fbf12f-2d0b-11ea-8ded-5254003c4391 to run...
pod litemall-all-7f7b98487-kb27g PodIP 10.100.219.100, agentPodIP 172.

[2020-01-02 03:06] liabio commented on #47
@aylei Hello, following your instructions, I still get an error

[2020-01-02 03:17] liabio commented on #47
[root@master ~]# kubectl cp default/debug-agent-pod-e1fbf12f-2d0b-11ea-8ded-5254003c4391:/tmp/tcpdump  ./tcpdump --v=10

I0102 11:12:30.470357   22693 round_trippers.go:423] curl -k -v -XPOST  -H "X-Stream-Protocol-Version: v4.channel.k8s.io" -H "X-Stream-Protocol-Version: v3.channel.k8s.io" -H "X-Stream-Protocol-Version: v2.channel.k8s.io" -H "X-Stream-Protocol-Version: channel.k8s.io" -H "User-A

[2020-01-02 08:42] aylei commented on #47
@liabio The file is stored in the target Pod, not the debug agent, try `kubectl cp litemall-all-7f7b98487-kb27g`😁

[2020-01-06 14:17] fooofei opened #91 "Will `aylei/debug-agent` Image support ARM\aarch64 ?"
Will `aylei/debug-agent` Image support ARM\aarch64 ?

[2020-01-07 13:50] aylei commented on #81
Could you please provide the detailed commands executed?

[2020-01-07 13:53] aylei commented on #80
Thanks for your sharing! That looks promising.

However, github issue is for bug reporting and feature requesting, closed due to irrelevance, feel free to reopen this issue if you have any problem using `kubectl-debug`.

[2020-01-07 13:53] #80 closed

[2020-01-07 13:54] #76 closed

[2020-01-07 13:55] aylei commented on #72
closed via #73

[2020-01-07 13:55] #72 closed

[2020-01-07 13:56] aylei commented on #77
closed

[2020-01-07 13:56] #77 closed

[2020-01-07 13:56] aylei commented on #71
closed via #44

[2020-01-07 13:56] #71 closed

[2020-01-07 13:56] #68 closed

[2020-01-07 14:12] aylei commented on #38
closed via #70

[2020-01-07 14:12] #38 closed

[2020-01-10 01:14] llussy opened #92 "No docker icon like in readme.md Screenshots"
No docker icon like in readme.md Screenshots,I'm bsh-5.0# , Do need special configuration？
[code]

[2020-02-14 06:05] yuchengwu opened #94 "run debug container in background"
I haven't found an option to run the debug container in background, like docker run `-d` option.
It would be nice to have this feature.

[2020-03-06 03:15] yili1992 opened #95 "some question for using ptrace in kubectl debug"
### Question
I use pyflame to debug python process . when i use pyflame via  kubectl debug , it will raise exception
[code]
I had check pyflame in target container  it's work！

[2020-03-06 12:04] #95 closed

[2020-03-11 09:57] junjieyjj commented on #89
I have the save problem, we use a private repository(like harbor), I configure this in ~/.kube/debug-config but doesn't work
[code]

[2020-03-14 02:29] ming-relax opened #96 "Can I see the VolumeMounts in the target container?"
Is there a way to share the VolumeMounts in the target container?

[2020-03-16 04:26] #96 closed

[2020-03-22 01:28] deeTEEcee commented on #2
Following the binary instructions for mac installation on the README, I get an issue with tar file: `tar: Error opening archive: Unrecognized archive format`

[2020-03-27 22:51] dee0 commented on #88
Just started trying to use kubectl-debug myself and ran into this.    Does anyone know of a work around?

[2020-03-30 02:44] Fly-Luck commented on #78
A good approach with sleep, but if you execute kubectl debug via code(e.g. exec.Command in golang), you cannot get the one-time command's output according to my experience.

One approach I came up with is:
1. modify the netshoot image with an additional volume.
2. sleep 2 && cmd > file in that volume.

Any better idea? @aylei

[2020-04-03 22:38] dee0 commented on #88
Couple of things
- Believe dmayle left out this message
  E0403 22:33:34.210311    4348 httpstream.go:188] timed out waiting for client to create streams

- Been trying to println debug this.   I see the client calls Negotiate in spdy.go and that executes as far as the call to upgrader.NewConnection.    However that never returns.

[2020-04-04 06:05] dee0 commented on #88
I think what is happening is
- In the plugin, there is an attempt to get a container id from the specified pod.
  ( cmd.go Run, between lines 429 and 475 )   This is coming up with a value like
  containerd://68620696047ddb08fa2ea8042aadc75d36764ef35bb551252176f02596c00537]
- In the agent, in server.go around line 76 in the function ServeDebug there is a check to see if the container id begins wit

[2020-04-04 06:16] dee0 commented on #88
I tried removing the check for docker://.   Things progressed further but still did not work in the end.

                             2020/04/04 06:14:06 spdy Negotiate Making NewConnection
2020/04/04 06:14:06 remotecommand Stream negotiationed &{conn:0xc0007d80b0 streams:[] streamLock:{state:0 sema:0} newStreamHandler:0x716c50} v4.channel.k8s.io

[2020-04-04 06:36] markzhang0928 commented on #88
I think the problem might be caused by the remote kube-apiserver couldn't  response kubeletremote.ServeAttach() request correctly? could you please check your kubelet status of your target container host?

[2020-04-06 19:59] dee0 commented on #88
Thanks for the input.   The kubelet seems fine.    After digging into this more I think I see what is going on.   The container runtime used in my environment is 'remote' as opposed to 'docker'.  ( See this in the command line args passed to kubelet. )
However at least at the moment kubectl-debug seems to only work with kubelets where the docker runtime is in use.   I can say this because I see th

[2020-04-07 09:39] aylei commented on #88
@dee0 Yes, docker is the only supported runtime right now.😔

The agent does not assume the container id is started with `docker://`, but it does check the container id, and report an error if the id is not started with `docker://`, because other runtimes have not been supported.

Actually, the docker endpoint is configurable:

https://github.com/aylei/kubectl-debug/blob/1fd0bac15750d42c82b70376204

[2020-04-07 16:44] dee0 commented on #88
Thanks for confirming that docker is required.    I don't own the kubernetes deployment so I cannot change it to use a different runtime.  ( Oh, and docker isn't even installed in these environments )

From what I have seen in the code so far, it looks like adding support for the containerd runtime wouldn't be too hard.   Do you agree?

[2020-04-10 01:35] woniuzhang opened #97 "如何将debug-agent中的文件复制出来"
kubectl cp 报错 error: unexpected EOF

[2020-04-10 07:48] markzhang0928 commented on #97
could you please give us more details for this error? or you can diagnose by using `kubectl --v=8 cp <some-namespace>/<some-pod>:/tmp/foo /tmp/bar`.

[2020-04-15 11:52] ly-wjj commented on #81
如果使用arthas镜像调式java程序呢？

[2020-04-15 12:50] ArthurYangZhiBin commented on #81
现在就是使用arthas进去都找不到java的进程pid，就别说调试程序了

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"ly-wjj"<notifications@github.com&gt;;
发送时间:&nbsp;2020年4月15日(星期三) 晚上7:52
收件人:&nbsp;"aylei/kubectl-debug"<kubectl-debug@noreply.github.com&gt;;
抄送:&nbsp;"明天的我"<1072468577@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [aylei/kubectl-debug] 使用hengyunabc/arthas:latest这个镜像不能查询到jvm进程 (

[2020-04-21 09:49] thetruechar opened #98 "debug command fail"
kubectl debug gateway-0 -n testing
error execute remote, error sending request: Post http://172.18.45.169:10027/api/v1/debug?command=%5B%22bash%22%5D&container=docker%3A%2F%2F400076b42616a628173867c4de002eb38e31ba645b5a08183610ce40b7bd4f5e&image=nicolaka%2Fnetshoot%3Alatest: unexpected EOF
error: error sending request: Post http://172.18.45.169:10027/api/v1/debug?command=%5B%22bash%22%5D&container

[2020-04-22 05:30] dee0 commented on #88
Fwiw I have containerd support pretty much working.   I expect I'll open a pull request within a couple of days.

[2020-04-23 08:45] ly-wjj commented on #81
先将arthas的jar包放到对应的文件系统中，然后chroot到对应的文件系统中，进行调试

[2020-04-25 03:13] kingreatwill commented on #98
没有安装debug-agent吧

[2020-04-26 02:22] thetruechar commented on #98
装了， 而且不是说不装也可以吗

[2020-04-26 02:42] markzhang0928 commented on #98
You'd better check the connectivity of the debug agent address:port, which
supplies 172.168.45.169:10027 above.

charlie <notifications@github.com> 于2020年4月26日周日 上午10:22写道：

[2020-04-28 07:47] fralychen commented on #98
The same wrong:"error execute remote, error sending request: Post http://****:10027/api/v1/debug?command=......&image=nicolaka%2Fnetshoot%3Alatest: dial tcp ****:10027: connect: connection refused"

[2020-04-28 07:47] fralychen commented on #98
The same wrong:`error execute remote, error sending request: Post http://****:10027/api/v1/debug?command=......&image=nicolaka%2Fnetshoot%3Alatest: dial tcp ****:10027: connect: connection refused`

[2020-04-28 07:59] aylei commented on #98
@fralychen @thetruechar What's the output of `kubectl debug --version`? It should have created the debug agent automatically on launch in after v1.0.1

[2020-04-28 08:01] fralychen commented on #98
@aylei @thetruechar It's fine for:
`kubectl-debug --agentless --port-forward myapp -n default`

[2020-04-28 08:02] thetruechar commented on #98
brew install 7 days ago.
[code]

[2020-04-28 08:08] fralychen commented on #98
`[root@localhost ~]# kubectl-debug  --version
debug version v0.0.0-master+$Format:%h$`

[2020-04-28 11:54] #88 closed

[2020-04-28 12:47] aylei commented on #98
@fralychen @thetruechar
It turns out that `v0.1.1` does have `--agentless` and `--port-forward` by default, so you must command `--agentless` explicitly if the agent is not installed in advance and command `--port-forward` explicitly if the `10027` port of the target node is not directly accessible.

An alternative is to configure the default value of these options in a local configuration file ht

[2020-04-28 12:49] aylei commented on #94
Our of curiosity, could you elaborate the scenario in which you think run a debug container in background would be helpful?

[2020-04-28 12:52] aylei commented on #92
Hi @llussy , thanks for trying kubectl debug, there is no special configuration needed and the prompt text is based on the bash profile of the container image, which is irrelevant to the plugin and maybe you could try to use a certain version of `nicolaka/netshoot` instead of `latest`

[2020-04-28 12:56] aylei commented on #89
@junjieyjj The secret is consumed by the plugin and the plugin will send an authstr to agent.

[2020-04-28 12:57] aylei commented on #89
@junjieyjj @lukjaw Could you please try out `v0.2.0-rc`, which has the auth issue fixed

[2020-04-28 12:57] aylei commented on #3
I think #99 fixes this, though we did adopt CRI but we effectively abstract an interface of different container runtime

[2020-04-28 12:57] #3 closed

[2020-04-28 12:59] aylei commented on #45
closed via #67

Please feel free to reopen this issue if the latest version does not fix your problem😉

[2020-04-28 12:59] #45 closed

[2020-04-28 13:01] aylei opened #100 "support "--edit" to customize the spec of copied pod"
fix https://github.com/aylei/kubectl-debug/issues/40

[2020-04-28 13:03] #48 closed

[2020-04-28 13:03] aylei commented on #54
closed, feel free to reopen this if you have any other questions

[2020-04-28 13:03] #54 closed

[2020-04-28 13:04] aylei commented on #59
@3JIou Could you try out `v0.2.0-rc`?

[2020-04-28 13:05] aylei commented on #81
Also, `v0.1.1` lacks the `SYS_PTRACE` and `SYS_ADMIN` capabilities, could you please try out `v0.2.0-rc`?

[2020-04-28 13:06] aylei commented on #87
Thanks @stockcode

[2020-04-28 13:06] #87 closed

[2020-05-06 07:00] gnatecheng commented on #97
我也遇到 cp 不出来的问题，cp 报如下错误：

$ kubectl --v=8 cp debug-agent-pod-c591f1e0-8f64-11ea-90cc-82962ec51401:/tmp/auth.pcap auth.pcap
command terminated with exit code 126

$ kubectl --v=8 cp debug-agent-pod-c591f1e0-8f64-11ea-90cc-82962ec51401:/tmp/auth.pcap auth.pcap
I0506 14:57:56.469437   37254 loader.go:359] Config loaded from file:  /Users/chengyt/.kube/config
I0506 14:57:56.476622   37254 round_trippe

[2020-05-06 07:32] gnatecheng opened #101 "在 debug-agent-pod 中如何读写目标 pod 的文件？"
在 debug-agent-pod 中有可能读写目标 pod 的文件吗？如 配置文件 或 日志文件。
另外在 debug 过程中如何 exec debug-agent-pod ? 试过，sh, /bin/sh, /usr/bin/sh 都报

OCI runtime exec failed: exec failed: container_linux.go:349: starting container process caused "exec: \"/bin/ls\": stat /bin/ls: no such file or directory": unknown

[2020-05-07 03:12] markzhang0928 commented on #97
复制的对象(target pod) 是目标业务容器，而不是debug-agent容器。

et.c <notifications@github.com> 于2020年5月6日周三 下午3:01写道：

[2020-05-12 08:32] morningyi commented on #81
试了v0.2.0-rc版本还是同样的报错，最后解决方法如下：
chroot /proc/1/root
sudo -u <USER> jstack <PID>

其中：
<PID> Java进程号
<USER> 执行Java进程的用户，可以通过ps来查看

[2020-05-13 09:45] alexgeek opened #102 "Inspect / copy environment variables of pod"
Hello,

Is there a way to look at the values of the environment variables on the pod being debugged and/or source them so that the debug container has the same environment?

Thanks,
Alex

[2020-05-21 03:14] ffxgamer commented on #101
目标pod的文件在 /proc/1/root 下面

[2020-05-26 15:03] dm3ch commented on #102
I have imported environment variables of container into debug session using next command:
[code]

[2020-05-26 16:32] alexgeek commented on #102
ah nice, thank you!

[2020-05-26 16:32] #102 closed

[2020-06-07 06:10] ask870 opened #105 "I got a error message"
# kubectl-debug -n gitlab-managed-apps install_helm
`Error from server (NotFound): pods "install_helm" not found`

[2020-06-07 06:39] ask870 commented on #105
and then I got anther error message when I added --fork

# kubectl-debug install-helm -n gitlab-managed-apps  --fork
[code]

[2020-06-11 01:50] yili1992 opened #106 "如何在--fork 的情况下加载目标容器的环境配置"
场景：
有个pod启动失败了 ，我fork了一个 想启动下程序来进行debug，但是我发现 出现了很多 依赖的确实，

需求：
是否有办法fork的时候能够加载目标容器的环境？

[2020-06-15 06:36] fred214 opened #107 "connect time out"
Hi, I want to use kubectl debug in agentless mode, but after running

it has returned

 the cluster version is 1.17.3 and kubectl version is 1.18.3

[2020-06-15 06:58] fred214 commented on #107
I can directly run 'kubectl debug' on remote host.
But in local must be using 'port-forward' which seemingly require the agent daemonset

[2020-06-15 06:58] #107 closed

[2020-06-15 07:06] fred214 opened #108 "How to only use target pod network?"
Hi, I want to debug the target pod why it can't access some external host.
But when I use kubectl debug with port-forward mode, it can access the external host.
It seemingly access the external host via debug-pod network.

So is there an solution only using target pod network? (for example, logon cluster host and run kubectl debug without port-forward)

[2020-06-16 21:34] laaubert opened #109 "Skip Images pulling"
Hi,

I would like to use this tool in a cluster which doesn't have access to any docker registry. I loaded the debug-agent and netshoot images manually (docker save/docker load commands) but I don't know how to tell kubectl-debug not to try pulling those two images each time it starts (I'd like to use the agent less mode).

Thanks

[2020-06-23 15:31] runzexia opened #110 "run debug with mount opts"
Thank you for writing this tool.
I want to add a new function to mount the host's directory into debug container.
Tools such as bcc tools need to mount the host directory to use。
ref https://github.com/iovisor/bcc/blob/c2e2a26b8624492018a14d5eebd4a50b869c911f/QUICKSTART.md#quick-start-guide

[2020-06-30 07:59] kchenzhi commented on #74
有可能是authStr文件中的json内容要用双引号？例如：
{"Username": "admin", "Password": "xxxxxxx"}

我加上双引号后就没问题了，你可以试试

[2020-06-30 08:03] kchenzhi commented on #89
The content key in your imagePullSecrets must be "authStr", can you check it?
Like this:

[code]

[2020-07-02 00:59] chengfen1987 commented on #110
It's a good idea to debug by bcc.

[2020-07-02 12:40] andrey-gava commented on #109
Have the same problem. Is there some fix that we can implement without updating the executable?
I run it with daemonset, so have only problem with nicolaka/netshoot image.

[2020-07-07 02:15] fafucoder opened #112 "debug request timeout"
➜  ~ kubectl debug nginx-6db489d4b7-rxgmg
error execute remote, error sending request: Post http://192.168.65.3:10027/api/v1/debug?command=%5B%22bash%22%5D&container=docker%3A%2F%2Fe23e5f9bc8f99e0c2b1a4cd137de2d9852313d27a1591f9455b27ca9e4f0e4ce&image=nicolaka%2Fnetshoot%3Alatest: dial tcp 192.168.65.3:10027: connect: operation timed out
error: error sending request: Post http://192.168.65.3:10027

[2020-07-16 04:38] hillbun opened #113 "how to avoid images always pulling?"
My server has no internet connections
I have load required images locally
but when run kubectl-debug, it still pulling images.

[2020-07-22 04:11] kchenzhi commented on #113
I was create a PR to solve this problem.
#111

[2020-07-22 08:12] zhaocheng173 opened #114 "There is no limit to the container's free, and I still see the memory size of the host, so I feel I need to increase the LXCFS to implement it"
After running debug, this is still the case, there is no limit, see the container resource visibility is still the host

[code]

Remember that there is a project called LXCFS that can achieve the visibility of resources, you can see the visibility of container resources, the author here can be optimized, I don't know if I am right, I hope to get correction

[2020-07-22 08:23] zhaocheng173 commented on #114
This resolves and shows the actual size of the resource size limit between the container host and the container
`https://github.com/lxc/lxcfs`

[2020-07-22 08:46] zhaocheng173 opened #115 "The author of your terminal small whales 🐳 how configuration, can send a document"

[2020-07-22 11:20] zhaocheng173 opened #116 "I copied a file into pod and put it under /opt. You can see it with exEC-it, but you can't see it with debug."
Exec -it can see this file
[code]

You can't see this file with Debug
[code]

[2020-08-03 08:34] netanelravid opened #117 "No route to hose"

[2020-08-03 08:36] netanelravid commented on #117
Hi,

When I execute
[code]

I got the error below:
[code]

While I receive a shell when I execute:
[code]

[2020-08-04 10:27] evaxiang opened #118 "使用--agentless --port-forward 参数无法运行"
kubectl debug -n ns podname --agentless --port-forward
运行失败

Agent Pod info: [Name:debug-agent-pod-a0df1c92-d63c-11ea-a38e-fa163e0860d3, Namespace:default, Image:aylei/debug-agent:latest, HostPort:10027, ContainerPort:10027]
Waiting for pod debug-agent-pod-a0df1c92-d63c-11ea-a38e-fa163e0860d3 to run...
Error occurred while waiting for pod to run:  pod ran to completion
error: pod ran to completion

[2020-08-04 10:28] evaxiang commented on #118
尝试删除debug-agent-pod-XXX，重新执行--agentless --port-forward ，还是一样

[2020-08-06 03:49] kchenzhi commented on #116
Pod's file namespace is difference from debug container's file namespace.

Firstly, use command `ps -elf ` to determin the pid of your pod's main thread.
Then find the pod's `/root` dir at /proc/${pid}/root/

[2020-08-06 03:52] kchenzhi commented on #109
Hi, I was create a PR to solve this problem.
#111

[2020-08-11 11:05] ZuoGuocai opened #119 "error execute remote"
I execute  the tool like this, but failed. The errors in the below:
[code]

[2020-08-17 07:28] fralychen commented on #98
Thanks

[2020-08-20 02:45] debu99 opened #120 "how to mount the target container image file?"

[2020-08-21 02:58] johnmarcou commented on #110
You can browse via /proc:
[code]

[2020-09-01 06:39] buddy-yao commented on #46
yes. we can not use hostport mod in our production k8s cluster.

[2020-09-15 03:30] yestab123 commented on #119
If you use DaemonSet mode, try to add `hostNetwork: true` in DaemonSet config file

like
`
      dnsPolicy: ClusterFirst
      hostNetwork: true
      hostPID: true
      restartPolicy: Always
`

[2020-09-29 02:21] todaygood opened #123 "unknown command "debug" for "kubectl" version 1.17.12"
[code]

[2020-09-29 03:12] todaygood commented on #123
sorry, I forgot to install the kubectl-debug binary file.

[2020-09-29 03:12] #123 closed

[2020-09-30 01:30] todaygood opened #124 "error container not ready"
[code]

[2020-10-05 23:01] todaygood commented on #124
I found kubectl debug didn't support  a not ready pod , is it right?

[2020-10-07 23:33] y0zg opened #125 "Error: ephemeral containers are disabled for this cluster"
Hello,

I haven't found this error in issues, so wonder if this is something cluster specific or I missed any parameter.
Thank you

[code]

[code]

[2020-10-12 09:45] todaygood commented on #113
has been resolved ?  It seems that #111 didn't solve Container Image to run the debug container, default to nicolaka/netshoot:latest.

[root@node1 ~]# kubectl debug virt-launcher-centos78qcow-cgwml
pod virt-launcher-centos78qcow-cgwml PodIP 10.233.90.180, agentPodIP 192.168.122.1
wait for forward port to debug agent ready...
Forwarding from 127.0.0.1:10027 -> 10027
pulling image nicolaka/netshoot:

[2020-10-15 17:06] frots opened #126 "--fork fails if original pod name length is > 19"
Because of pod name length limitations (max 63) --fork cannot be used since it adds a 44 character string (- + GUID + -debug)

https://github.com/aylei/kubectl-debug/blob/914f3d3e06eb6e6b087388ba810436ef6f1c2785/pkg/plugin/cmd.go#L863 This should be truncated to 63 characters max

[2020-10-19 06:40] fooofei opened #128 "failed start agent pod"
start error log
[code]

[2020-10-21 08:42] hanlins opened #129 "Plugin stuck creating exec stream"
Using latest plugin, k8s `v1.19.1` and `v1.18.6`. Stuck at exec stream creation:
[code]

On the agent side, got a timeout:
[code]

From kubelet log, we can see the target pod (`test`) and agent being created but didn't see the reply:
[code]

It seems to be related to `kubelet` on attaching container, not sure if anyone experienced the same issue.

[2020-11-13 03:08] #126 closed

[2020-11-13 03:10] aylei commented on #124
@todaygood Exactly

[2020-11-13 03:45] hzliangbin commented on #91
@aylei hi, any process?

[2020-11-20 11:10] walleliu1016 opened #132 "plan to support sts"
only pure pods support, is any play to support sts

[2020-11-27 11:51] yanniszark commented on #124
Hi @aylei, thanks a lot for this awesome kubectl plugin.
Is there a specific blocker for supporting Pods that aren't ready?
Why can't kubectl-debug work in those cases?
It would be super-useful, since most of the cases you want to debug something is when it's not working.

[2020-11-28 08:03] wajika opened #133 "Error: No such image"
没有使用daemonset的方式。 直接下载了二进制文件。
我是在master上执行的，pod在某个node上。
第一次报错Error: No such image，我在pod对应的node上也docker pull了image。
第二次启动还是报错Error: No such image。
master执行的位置已经安装了image。

# kubectl debug myapp-deploy-7d574d56c7-clpzv
Agent Pod info: [Name:debug-agent-pod-cff9af34-314f-11eb-8e41-005056ba3a98, Namespace:default, Image:aylei/debug-agent:latest, HostPort:10027, ContainerPort:10027]
Waiting for pod deb

[2020-12-01 15:13] themez opened #134 "Error: No such image: nicolaka/netshoot:latest"
Hi I run into this problem using agent-less default configuration. However, I found it works if I set `verbose` to `1` Looks wired.

[code]

[2020-12-03 02:44] lx1036 commented on #134
me too. how to resolve it?

[2020-12-03 07:33] wanminny commented on #134
+1

[2020-12-03 07:50] yangli8866 commented on #134
+1

[2020-12-04 07:39] yaoyaoio commented on #134
建议先docker pull nicolaka/netshoot:latest 一下看看

[2020-12-04 07:40] yaoyaoio commented on #118
请问一下 你这个在mac下运行的么 还是linux？

[2020-12-04 09:41] hillbun commented on #134
docker pull nicolaka/netshoot:latest可以

[2020-12-08 01:33] fforloff commented on #134
The same error for me. While pulling the image locally works, the "kubectl debug..." does not.

[2020-12-08 06:59] lwabish commented on #134
seems that we need to ensure the images exists on the cluster nodes

[2020-12-09 01:56] fforloff commented on #134
which was not the case before

[2020-12-10 11:36] lwabish commented on #134
right, last time I didn't pre pull the netshoot image

[2020-12-10 13:54] aylei opened #135 "The default agent image version should be coordinated with the plugin"
There was an unstable debug-agent image being pushed to dockerhub which causes  #133 #134 . It is a flaw that a stable version will pull pull the `latest` tag of debug-agent by default, instead, we should always pull the debug-agent that is built in the same version of the plugin by default.

[2020-12-10 14:06] aylei commented on #134
Sorry for the late response, it is caused by an unstable `debug-agent` pushed to docker hub recently. It should have been fixed now, please run the command again to verify.

Since `kubectl-debug` plugin will still pull `debug-agent:latest` by default before #135 get fixed, it is recommend to configure or specify `--agent-image=aylei/debug-agent:${version}` if you are using a stable version of the

[2020-12-10 14:06] aylei commented on #133
Duplicate with #134

Please refer to https://github.com/aylei/kubectl-debug/issues/134#issuecomment-742541850

[2020-12-10 14:08] aylei commented on #118
@evaxiang 可以检查一下对应 node 上 port 是否被占用

另外 --port-forward 模式可以做一个优化，不需要开 hostPort，完全绕开这个问题

#136

[2020-12-10 14:11] aylei opened #136 "Do not use HostPort when using --port-forward"
When `port-forward` is enabled (which is by default after `v0.1.1`),  the agent do not have to specify `hostPort`, and this could help avoiding potential port conflicts.

ref: #118

[2020-12-11 03:41] lwabish commented on #134
Thanks for your work. Tried again but still not fixed. I have reinstalled the debug-agent and also tried `brew upgrade kubectl-debug`. Is there anything else I forgot?

[2020-12-11 05:40] aylei commented on #134
Are you encountering the same error (image not found)? And what's the image of debug agent?

[2020-12-11 05:45] lwabish commented on #134
Yes.The debug-agent daemonset is using `aylei/debug-agent:latest` and the `imagePullPolicy` has been set to  always.

[2020-12-11 05:55] aylei commented on #134
@lwabish could you please try `aylei/debug-agent:v0.1.1`?

[2020-12-12 01:04] wajika commented on #133
thanks

[2020-12-12 01:04] #133 closed, assigned to nobody

[2020-12-12 03:32] #134 closed, assigned to nobody

[2020-12-20 15:13] lwabish commented on #134
Just tried using `kubectl debug ${POD_NAME} --agent-image=aylei/debug-agent:v0.1.1`,worked as expected

[2020-12-29 11:38] alexdoka commented on #134
@lwabish it doesn't work for me

[2020-12-31 02:44] barryzhounb opened #137 "Agent pod failed"
Hi Team,

I have installed version 0.1.1

[code]

It failed to debug my pods, then I checked agent-pod, it didn't run successfully. The following is its status

[code]
Could you let me know:
(1) Failed to Pulling image "aylei/debug-agent:latest", how to fix it? Or What is the credential for pulling down image?
(2) How to fix PodFitsHostPorts?

In addition, the below is my configuration:

[code]

[2021-01-02 11:24] aylei commented on #137
It might be your node did not have network access to dockerhub or it was rate-limited at that time, you can use `kubectl describe po <pod-name>` to find out the exact reason

Agent port claims a host port, so you can only run one agent-pod in a Node, and in your it is the one that suffering `ImagePullBackoff`

[2021-01-03 01:31] barryzhounb commented on #137
Thanks @aylei

Now I fixed the above issues.
When I ran command "kubectl debug ecgateway-86d67cb79d-8vhnc", a new issue came up, any ideas for that? How to fix it.

[code]

[2021-01-03 03:14] aylei commented on #137
what's your container runtime?

[2021-01-03 20:32] barryzhounb commented on #137
Sorry, I don't know what is "container runtime", so I could not answer you. Because I use default configurations, I wish it works, unfortunately it failed. Is there any configurations that I need to change in order to fix it?  I am sorry for spending too much your time, I am not sure if it is possible to have a video chat in order to solve this issue such as Webex or Zoom, I live in Canada.

[2021-01-05 13:34] wu0407 opened #138 "not output command result when excute no interactive command"
version 0.1.1

[code]

[2021-01-07 15:34] damienburke commented on #43
am getting this error on kubectl version 1.15.2..

`Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.3", GitCommit:"1e11e4a2108024935ecfcb2912226cedeafd99df", GitTreeState:"clean", BuildDate:"2020-10-14T12:50:19Z", GoVersion:"go1.15.2", Compiler:"gc", Platform:"darwin/amd64"}`

[2021-02-01 06:15] zhangguanzhang opened #139 "`RegistrySecretName` inf config file don't work"
config file:
[code]
if run without `--registry-secret-name`
[code]
if run with `--registry-secret-name`:
[code]

[2021-02-02 13:34] andrey-gava opened #140 "Errors with containerd runtime"
Hello!

[code]

Container runtime - containerd
Kubectl-debug version v0.2.0-rc and v0.1.1

I get this kind of errors in agentless=true and with daemonset agents deployed:
[code]
[code]

[2021-02-03 07:28] andrey-gava commented on #139
Have the same problem. Plus `agentless: false` in config didn't work too on both last version, including rc.

[2021-02-06 00:05] foobarbecue commented on #43
I'm also getting this on 1.19.3 (which is what @damienburke is also running above -- he was looking at his go version).

Edit: I upgraded to 1.20 and it works now

[2021-02-19 13:40] melochale opened #141 "cannot get the debug docker image No such image: docker.io/nicolaka/netshoot:latest"
error execute remote, Internal error occurred: error attaching to container: Error: No such image: docker.io/nicolaka/netshoot:latest
error: Internal error occurred: error attaching to container: Error: No such image: docker.io/nicolaka/netshoot:latest

[2021-02-22 09:32] weiwarren commented on #141
An unstable debug agent was introduced, use the previous stable version. [133](https://github.com/aylei/kubectl-debug/issues/133), [134](https://github.com/aylei/kubectl-debug/issues/134)
[135](https://github.com/aylei/kubectl-debug/issues/135)

`kubectl  debug nginx --agent-image=aylei/debug-agent:v0.1.1`

[2021-02-27 08:29] lwabish commented on #134
append --agentless=true

[2021-03-06 12:24] MinistrBob opened #142 "I can't join some pods"
I join one pod, but another I cannot.  What could be the reason for this?

[code]

[2021-03-15 01:34] melochale commented on #141
many thanks, it works!

[2021-03-15 01:34] #141 closed, assigned to nobody

[2021-04-08 13:50] jiujiujiujiujiuaia opened #143 "k8s.io/api/admissionregistration/v1alpha1: module k8s.io/api@latest found (v0.20.5), but does not contain package k8s.io/api/admissionregistration/v1alpha1"
I am a golang beginner and I want to know why it throws when I build the project.

env:windows10
sdk:1.16
tool:goland

![image](https://user-images.githubusercontent.com/27950614/114038528-88b48800-98b4-11eb-8933-333cb0a0e89a.png)

[2021-04-08 15:25] jiujiujiujiujiuaia commented on #143
my question is that how could I build this project or what's the root cause? it would be ok that anyone provides useful link. Thanks a lot!!

[2021-04-09 21:17] spkane commented on #125
You have to enable the k8s EphemeralContainers feature gate in your cluster. At the moment this is still alpha and therefore not enabled by default.

https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/

You probably also want to enable Process Namespace Sharing in your pod.

https://kubernetes.io/docs/tasks/configure-pod-container/share-process-namespace/

Note however

[2021-04-22 09:41] MadEngineX commented on #142
Hi!
Try to activate:
`hostNetwork: true`

And try to use this command, this helps to me.
[code]
If it works change in daemonset.yaml
`image: aylei/debug-agent:latest`
To
`image: aylei/debug-agent:v0.1.1`
___
Also I have changed ports in daemonset.yaml from 10027 to 10028 (strange network problem: `Predicate PodFitsHostPorts failed`)

Good luck!

[2021-04-24 14:10] yangxikun commented on #78
A little ideat: use `sleep infinity` command to create debug container, then send user cmd(ls -hl) to stdin after attach, otherwise send the default cmd sh to stdin.

[2021-04-27 02:52] doing-cr7 opened #144 "aliyun-exporter使用时出现错误"
我根据https://help.aliyun.com/document_detail/28619.html?spm=a2c4g.11186623.6.670.4cb92ea7URJUmT 添加了
  acs_polardb:
  - name: cluster_cpu_utilization
    period: 60
  - name: cluster_memory_utilization
    period: 60
  - name: conn_usage
    period: 60
启动容器发现 错误

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/so

[2021-05-18 06:03] qianzhang613 commented on #139
Have the same problem.  +1

[2021-05-25 07:39] HeGaoYuan opened #145 "If my target pod has multiple contianers?"
If my target pod has multiple contianers?
When I execute kubectl debug target_pod, I found it will talk with the first container.
But If my target pod has two containers, what should I do if I want to talk with the second/another contaienr?
Thanks

[2021-06-15 03:29] melochale opened #146 "Seems the kubectl has build-in debug sub command, it conflicts with it"
[code]
https://kubernetes.io/docs/tasks/debug-application-cluster/debug-running-pod/#ephemeral-container

[2021-06-15 05:09] shreyasiitr commented on #43
I was getting the same for 1.19.7 on windows. Updated to 1.21.1 to fix it.

[2021-07-01 08:59] bazhenov opened #147 "What is the reason behind `CGO_ENABLED=0`?"
I've facing problems using `kubectl-debug` with k8s cluster deployed in intranet. It boils down to `kubectl-debug` built with `CGO_ENABLED=0` which [disables host bases DNS-resolver](https://golang.org/pkg/net/#hdr-Name_Resolution).

### Description of the problem

MacOS DNS resolver quite sophisticated (libc function `gethostbyname()`). It takes in consideration scoped DNS queries when connected

[2021-07-05 18:26] ugurarpaci commented on #112
That is probably a lack of --agentless flag

[2021-07-15 13:23] xianzheTM commented on #146
@aylei
I have the same problem. This is my version of kubectl:
[code]

[2021-07-26 08:21] lupanagora opened #148 "parse namespace error"
there will be error when namespace contains character "-"
eg:
# kubectl debug xxx -n sh3-abc
# cannot create resource "pods" in API group "" in the namespace "default"

[2021-09-24 03:16] hzluyang commented on #145
-c can fix it

[2021-09-27 06:07] laitianliu commented on #81
所以现在可以通过kubectl debug调试集群java应用嘛。。 @ @ArthurYangZhiBin

我测试过用openjdk的java启动无法读取pid 为1的进程。采用oracle jdk有效。

[2021-10-25 11:29] liulangwa commented on #148
烂尾了？

[2021-10-26 03:53] liulangwa opened #151 "项目是结束维护了么，好久没看到更新"

[2021-11-04 03:17] hillbun commented on #151
这个稳定后，没啥可以更新的吧

[2021-11-09 03:02] hillbun opened #152 "run error when use containerd runtime"
kubectl-debug --agentless --port-forward sentry-web-5f94694b8b-khkmg -n sentry

[code]

[2021-11-09 09:02] yunweizhe11 commented on #151
你好 containerd 能支持吗？

[2021-11-19 04:15] lic17 commented on #140
mount hostPath /var/lib/containerd to the agent pod can fix the err.

[2021-12-01 09:08] JamesTGrant commented on #146
yes, to workaround this call the binary directly, for example:
`kubectl-debug --namespace NAMESPACE POD_NAME -c TARGET_CONTAINER_NAME`

[2021-12-01 10:29] JamesTGrant commented on #140
If you're using agentless (which is good!) then you'll need to rebuild (follow the build from source instructions in the README.md) the project with the following changes in pkg/plugin/cmd.go

Add varlibcontainerd to Volumes: []corev1.Volume section like this:

				{
					Name: "varlibcontainerd",
					VolumeSource: corev1.VolumeSource{
						HostPath: &corev1.HostPathVolumeSource{
							Path: "/

[2022-01-18 12:04] moluzhui commented on #89
This version doesn't seem to fix the issue, it still gives `No such image` error
[code]
cat ~/.kube/debug-config
[code]

error is
[code]

[2022-01-19 08:54] moluzhui commented on #82
@markzhang0928  Excuse me, based on the latest version of the executable file, an lxcfs error occurs during debugging. How to solve this? thanks
[code]

[2022-01-19 10:40] moluzhui commented on #134
@aylei @themez   The problem seems to be caused [here](https://github.com/aylei/kubectl-debug/blob/33caedd99cd440dccd7800e10b04cad6293b2dfa/pkg/agent/runtime.go#L131), I delete the verbosity comparison in this part, and then I can download the image
[code]
I understand that I went to the follow-up process(creat container) `before the image pull was completed`, so it caused an error

But the docker

[2022-01-24 10:39] lukjaw commented on #89
@aylei Hi, the newest version works like a charm, thanks :)

[2022-10-14 10:38] #110 closed